.p {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    overflow: hidden;
  }
  
  
  .p-img {
    width: 100%;
    transition: all 10s ease;
  }
  
  
  @media screen and (max-width: 480px) {
    .p {
      width: 40%;
      height: 20vh;
    }
  }